{% extends "base.html" %}
{% block body %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Stock price history application demoing Heroku and Flask integration.">
    <meta name="author" content="@YudongHao">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Error!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
      <h1 style = "margin-left:5%">Something is wrong with the input.</h1>
  </body>
</html>
{% endblock %}
