{% extends "base.html" %}
{% set active_page="index" %}
{% block body %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Stock price history application demoing Heroku and Flask integration.">
    <meta name="author" content="@YudongHao">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Stock Data Search</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <form action="/graph" method = "post" style = "margin-left:5%">
        Ticker : <input type="text" name='ticker'><br>
            <br>
        {% for i in price_type %}
            <input type = "checkbox" name = "pricetype" value = "{{i}}"> {{i}}<br>
        {% endfor %}
        <br>
        <input type="submit">
    </form>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock %}
